@use 'sass:math';

$prefix: "w3" !default;
$base-spacing: 8px !default;
$mobile: 600px !default;
$tablet: 992px !default;


.#{$prefix}-flex {
  display: flex;
}

.#{$prefix}-flex-inline {
  display: inline-flex;
}


// Directions
.#{$prefix}-flex-row          { flex-direction: row; }
.#{$prefix}-flex-row-reverse  { flex-direction: row-reverse; }
.#{$prefix}-flex-col          { flex-direction: column; }
.#{$prefix}-flex-col-reverse  { flex-direction: column-reverse; }

.#{$prefix}-flex-wrap    { flex-wrap: wrap; }
.#{$prefix}-flex-nowrap  { flex-wrap: nowrap; }

// stack on mobile
@media (max-width: $mobile) {
  .#{$prefix}-flex-col-mobile {
    flex-direction: column;
  }
}

// Justify
.#{$prefix}-flex-left     { justify-content: flex-start; }
.#{$prefix}-flex-right    { justify-content: flex-end; }
.#{$prefix}-flex-center   { justify-content: center; }
.#{$prefix}-flex-between  { justify-content: space-between; }
.#{$prefix}-flex-around   { justify-content: space-around; }
.#{$prefix}-flex-evenly   { justify-content: space-evenly; }

// Align
.#{$prefix}-flex-top      { align-items: flex-start; }
.#{$prefix}-flex-bottom   { align-items: flex-end; }
.#{$prefix}-flex-middle   { align-items: center; }
.#{$prefix}-flex-stretch  { align-items: stretch; }

// Centering
.#{$prefix}-flex-center-all {
  justify-content: center;
  align-items: center;
}

// Self-Align 
.#{$prefix}-flex-self-top      { align-self: flex-start; }
.#{$prefix}-flex-self-bottom   { align-self: flex-end; }
.#{$prefix}-flex-self-middle   { align-self: center; }
.#{$prefix}-flex-self-stretch  { align-self: stretch; }


// Sizes
.#{$prefix}-flex-1        { flex: 1 1 0%; }
.#{$prefix}-flex-auto     { flex: 1 1 auto; }
.#{$prefix}-flex-none     { flex: none; } 
.#{$prefix}-flex-grow-0   { flex-grow: 0; }
.#{$prefix}-flex-shrink-0 { flex-shrink: 0; }

// Flex-Gaps 
$gap-steps: 0, 1, 2, 3, 4, 6, 8;
@each $step in $gap-steps {
  .#{$prefix}-flex-gap-#{$step * $base-spacing} {
    gap: $base-spacing * $step;
  }
}

// Flex-Grid
@function col-width($n) {
  @return math.div(100%, 12) * $n - 2px;
}

// Row-Container 
.#{$prefix}-flex-row-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -#{$base-spacing};
  margin-right: -#{$base-spacing};
}

// Mobile-first
@for $i from 1 through 12 {
  .#{$prefix}-flex-col-s#{$i} {
    flex: 0 0 col-width($i);
    max-width: col-width($i);
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    box-sizing: border-box;
  }
}

// larger than mobile
@media (min-width: $mobile + 1) {
  @for $i from 1 through 12 {
    .#{$prefix}-flex-col-m#{$i} {
      flex: 0 0 col-width($i);
      max-width: col-width($i) !important;
    }
  }
}

// larger than tablet
@media (min-width: $tablet + 1) {
  @for $i from 1 through 12 {
    .#{$prefix}-flex-col-l#{$i} {
      flex: 0 0 col-width($i);
      max-width: col-width($i) !important;
    }
  }
}
